table{
    border:0px;
}
#PrintResult{
    width: 75px;
    height: 25px;
    font-size: 15px;
    color: black;
    position: absolute;
    background: lightskyblue;
    border: 1px solid black;
    left: 1%;
    outline: none;
}
input{
    border-radius: 5%;
    border: 2px solid black;
    height: 17px;
}
select{
    border: 2px solid black;
    height: 23px;
}
textarea{
    border: 2px solid black;
    width: 200px;
    height: 150px;
}
#confirm{
    transform: translate(20px ,261.5px);
}